.button {
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #000000;
  border-radius: 5px;
  padding: 10px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.buttonPrimary {
  color: #ffffff;
  background-color: #000000;
  border: 1px solid #000000;
  border-radius: 5px;
  padding: 2px 10px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.buttonError {
  color: #ff0000;
  background-color: #ffe6e6;
  border: 1px solid #ffcccc;
  border-radius: 5px;
  padding: 10px;
  gap: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
}

.buttonSuccess {
  color: #00ff00;
  background-color: #e6ffe6;
  border: 1px solid #ccffcc;
  border-radius: 5px;
  padding: 10px;
  gap: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
}

.buttonInfo {
  color: #0000ff;
  background-color: #e6f2ff;
  border: 1px solid #cce0ff;
  border-radius: 5px;
  padding: 10px;
  gap: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
}
