.header {
  width: 100%;
  padding: 0px 0px;
  padding-bottom: 4px;
  margin: 0px 0px;
  background-color: #ffffff;
  border-bottom: 1px solid #e5e7eb;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.35rem;
  height: var(--header-height);
  position: fixed;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  top: 0;
  z-index: var(--header-z-index);
  padding-left: 1.3rem;
}

.headerLeft {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.menuButton {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0.5rem;
}

.logoutButton {
  padding-right: 24px;
}

.title {
  margin: 0;
  font-size: 1.8rem;
  cursor: pointer;
}

.username {
  font-weight: normal;
}

.main {
  width: 100%;
  padding: 2rem;
  font-size: 1.35rem;
  margin-top: var(--header-height);
}
